In [1]:
count = 1

while count <= 5:
    print('Aditya')
    count = count + 1

Aditya
Aditya
Aditya
Aditya
Aditya

In [2]:
# print numbers from 5 to 15

count = 5

while count <= 15:
    print(count, end = ' ')
    count += 1
    
print('Goodbye!!!')

5 6 7 8 9 10 11 12 13 14 15 Goodbye!!!

In [3]:
print(count)

16

In [4]:
# print the addition of numbers from 1 to 10

count = 1
add = 0

while count <= 10:
    add = add + count
    count += 1
    
print('Addition is:', add)

Addition is: 55

In [5]:
print(count)

11

In [32]:
# print the addition of all odd numbers from 1 to 20

count = 1
add = 0

while count <= 20:
    add = add + count
    count += 2
    
print('Addition is:', add)

Addition is: 100

In [ ]:
# factorial => 5! => 5 * 4 * 3 * 2 * 1 = 120

num = 1

fact = 1

while num <= 5:
    fact = fact * num
    num +=1
    
print('Factorial is:', fact)

In [ ]:
num = int(input('Enter the number '))
fact = 1

while num > 1:
    fact = fact * num
    num -= 1
    
print('factorial is:', fact)

In [ ]:
# else

num = int(input('Enter the number '))
fact = 1

while num > 1:
    fact = fact * num
    num -= 1
else:
    print('Loop ended')
    
print('factorial is:', fact)

In [6]:
'''# infinite loop

num = 2

while num > 1:
    print(num)
    num += 1''';

In [8]:
'''while True:
    print('a')
    ''';

In [11]:
num = 12345

num % 10
a = num // 10
a % 10

4

In [13]:
# find the sum of digits in a number
# 12345 => 1 + 2 + 3 + 4 + 5 = 15

num = int(input('Enter the number'))

add = 0

while num > 0:
    rem = num % 10
    add = add + rem
    num = num // 10

print('addtion of digits is:', add)

Enter the number100
addtion of digits is: 1

### For Loop

In [14]:
for n in 12, 34, 45, 21:
    print(n)

12
34
45
21

In [22]:
for n in 12, 34, 45, 21, 'Adi', True:
    print(n)

12
34
45
21
Adi
True

In [23]:
for n in 12, 34, 45, 21:
    print(n/2)

6.0
17.0
22.5
10.5

In [24]:
# range function

In [26]:
list(range(5))

[0, 1, 2, 3, 4]

In [27]:
list(range(5, 20))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [28]:
list(range(5,20,2))

[5, 7, 9, 11, 13, 15, 17, 19]

In [29]:
# range(start, end + 1, step)

In [31]:
for n in range(1,11):
    print(n, end = ' ')

1 2 3 4 5 6 7 8 9 10

In [33]:
# addition of odd numbers from 1 to 20

add = 0

for n in range(1,21,2):
    add = add + n
    
print('Addition', add)

Addition 100

In [35]:
for n in range(10):
    print('Aditya', end = ' ')

Aditya Aditya Aditya Aditya Aditya Aditya Aditya Aditya Aditya Aditya

In [38]:
for n in 'Tanvi':
    print(n * 3)

TTT
aaa
nnn
vvv
iii

In [37]:
for n in 'Tanvi', 'Ganesh':
    print(n)

Tanvi
Ganesh

In [39]:
l = [23, 45, 32, 21, 67]

for n in l:
    print(n)
else:
    print('Loop ended')

23
45
32
21
67
Loop ended

In [41]:
# find factorial of a number... take user input

num = int(input('Enter the number '))
fact = 1

for n in range(1, num + 1):
    fact = fact * n
    
print('Factorial is:', fact)

Enter the number 5
Factorial is: 120

#### Break statement

In [46]:
for n in range(1,10):
    if n == 5:
        break
    print(n)

1
2
3
4

In [47]:
count = 0
while count < 10:
    print(count)
    if count == 5:
        break
    count += 1

0
1
2
3
4
5

#### continue

In [49]:
for n in range(1,10):
    if n == 5:
        continue
    print(n)

1
2
3
4
6
7
8
9

In [51]:
# print odd numbers from 1 to 12 using continue statement

for i in range(1,13):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9
11

### pass

In [53]:
num = 5

if num > 1:
    pass

In [55]:
'''
*
**
***
''';

In [68]:
row = int(input('Enter the number of rows '))

for i in range(1, row + 1):
    for j in range(i):
        print('*', end = ' ')
    print()

Enter the number of rows 10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *