In [2]:
class Employee():     # class creation
    pass

In [4]:
emp1 = Employee()   # instance of a class
emp2 = Employee()

In [6]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x78fb64484250>
<__main__.Employee object at 0x78fb644843d0>

In [8]:
emp1.first = 'Natasha'      # instance variable
emp1.last = 'Negi'
emp1.salary = '52000' 

emp2.first = 'Raj'      # instance variable
emp2.last = 'sharma'
emp2.salary = '50000'

In [10]:
print(emp1.first)

Natasha

In [12]:
print(emp2.salary)

50000

In [31]:
class Employee():

    def __init__ (self, first, last, salary):
        self.first = first   # => emp1.first = 'Ravi'
        self.last = last
        self.salary = salary

    def show(self):
        print(self.first + ' ' + 'ok')

In [33]:
emp1 = Employee('Ravi', 'Tyagi', 55000)
emp2 = Employee('Neha', 'Kulkarni', 54000)

In [35]:
emp1.first

'Ravi'

In [38]:
emp1.show()

Ravi ok

In [50]:
# Encapsulation

class Employee1():

    def __init__ (self, first, last, salary):
        self.first = first   
        self.last = last
        self.__salary = salary   # creating a private variable

    def display(self):
        print('Salary is', self.__salary)

In [52]:
emp3 = Employee1('Akash', 'Tyagi', 30000)
emp4 = Employee1('Pranav', 'Patil', 32000)

In [54]:
emp3.first

'Akash'

In [56]:
emp3.display()

Salary is 30000

In [58]:
# inheritance

class Employee2(Employee1):
    pass

In [60]:
emp5 = Employee2('Aniket', 'Rana', 60000)

In [64]:
emp5.display()

Salary is 60000

In [68]:
'''
create a class called person
take in name, age, hobby,....  (make use of default parameters also)
create multiple objects
create a method to display all the info
''';

In [76]:
class Person():

    def __init__ (self, n, a = 22):
        self.name = n
        self.age = a

    def info(self):
        print('Name:', self.name, 'Age:', self.age)

In [78]:
p1 = Person('Raj', 34)

In [80]:
p1.info()

Name: Raj Age: 34

In [82]:
p2 = Person('Neha')

In [84]:
p2.info()

Name: Neha Age: 22