In [2]:
class Employee():  # creating the class
    pass

In [4]:
emp1 = Employee()   # creating an instance of a class
emp2 = Employee()

In [6]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x7a9da4882050>
<__main__.Employee object at 0x7a9da48821d0>

In [8]:
# insatnce variables

emp1.first = 'Neeraj'
emp1.last = 'Deshmukh'
emp1.salary = 51000

emp2.first = 'Natasha'
emp2.last = 'Negi'
emp2.salary = 52000

In [10]:
print(emp1.first)

Neeraj

In [12]:
print(emp2.salary)

52000

In [100]:
class Employee():

    def __init__ (self,first, last, salary):   # init method
        self.first = first
        self.last = last
        self.salary = salary

    def show(self):
        print(self.first + ' ' + 'ok')

In [102]:
emp1 = Employee('raj', 'sharma', 48000)

In [104]:
print(emp1.first)

raj

In [106]:
emp2 = Employee('ajay', 'patil', 49000)

In [108]:
emp1.

SyntaxError: invalid syntax (3076260205.py, line 1)

In [110]:
emp2.show()

ajay ok

In [118]:
# Encapsulation

class Employee1():

    def __init__ (self,first, last, salary):   # init method
        self.first = first
        self.last = last
        self.__salary = salary   # private variable

    def show(self):
        print(self.__salary)

In [120]:
emp1 = Employee1('raj', 'sharma', 48000)
emp2 = Employee1('ajay', 'patil', 49000)

In [122]:
emp1.first

'raj'

In [124]:
print(emp1.salary)

AttributeError: 'Employee1' object has no attribute 'salary'

In [126]:
emp1.show()

48000

In [128]:
# Inheritance

class Emp2(Employee1):   # Emp2 => subclass, # Employee1 => superclass
    pass

In [130]:
emp3 = Emp2('neha', 'kulkarni', 55000)

In [132]:
emp3.show()

55000

In [134]:
'''
create a class called person
attributes=> name, age, city,... (make use of default parameters also)
create a method which will show all the info of a person

'''

class Person():

    def __init__ (self, n, a = 25):
        self.name = n
        self.age = a

    def info(self):
        print('name', self.name)
        print('age', self.age)

In [138]:
p1 = Person('Ajinkya', 21)

In [140]:
p2 = Person('Neha')

In [142]:
p2.info()

name Neha
age 25